<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
  {{> header}}
    <p>{{screamIt "committing the code"}}</p>

    {{> footer}}
  </body>
</html>
